
body
{
	margin:0;
  overflow: hidden;
  background-image: url("images/background.png");
  font-family: 'Reem Kufi', sans-serif;
   background-repeat: no-repeat;
   background-size: cover;

}


#clouds {
  position: absolute;
  bottom:0%;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 108;
  display: block;
  animation: floating 3s infinite;
  -webkit-animation: floating 3s infinite;
  -moz-animation: floating 3s infinite;
  -o-animation: floating 3s infinite;
  -ms-animation: floating 3s infinite;
  opacity: 0;
}

#stars {
  background:url("images/stars.png");
  position: absolute;
  width:100%;
  height: 100%;
  z-index: 105;
  display: block;
  opacity: 0;
  animation: fade 2s infinite;
  -webkit-animation: fade 2s 3s infinite;
  -moz-animation: fade 2s 3s infinite;
  -o-animation: fade 2s 3s infinite;
  -ms-animation: fade 2s 3s infinite;
}

#stairs {
  position: absolute;
  width: 34%;
  bottom:0%;
  left:31.5%;
  height: auto;
  z-index: 107;
  display: block;
  animation: floating 3s infinite;
  -webkit-animation: floating 3s infinite;
  -moz-animation: floating 3s infinite;
  -o-animation: floating 3s infinite;
  -ms-animation: floating 3s infinite;
  opacity: 0;
}

#boy{
  position: absolute;
  bottom:0%;
  width: 8%;
  left:43%;
  height: auto;
  z-index: 109;
  display: block;
  animation: floating 3s infinite;
  -webkit-animation: floating 3s infinite;
  -moz-animation: floating 3s infinite;
  -o-animation: floating 3s infinite;
  -ms-animation: floating 3s infinite;
  opacity: 0;
}
#boat
{
	position:absolute;
	width:32%;
	height: auto;
	z-index: 106;
	left:31%;
	bottom:5%;
	display: block;
 animation: floating 3s infinite;
  -webkit-animation: floating 3s infinite;
  -moz-animation: floating 3s infinite;
  -o-animation: floating 3s infinite;
  -ms-animation: floating 3s infinite;
  opacity: 0;
}
#hawk {
  position: absolute;
  left: 6%;
  bottom:60%;
  width:20%;
  z-index: 106;
  display: block;
  opacity: 0;
  animation: fade2 4s infinite;
  -webkit-animation: fade2 4s 4s infinite;
  -moz-animation: fade2 4s 4s infinite;
  -o-animation: fade2 4s 4s infinite;
  -ms-animation: fade2 4s 4s infinite;
}
  #box
{  display: flex;
  flex-direction: column;
  align-items: center;
  padding:6vw 2vw 1vw 2vw;
  color: white;
  width:100%;
  z-index:200;
}
#timer
{
  width:45%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:auto;
  opacity: 0;
  font-size: 2.5vw;
}
#d, #m, #h, #s
{
}
#text
{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:white;
  width:100%;
  font-size:4vw;
  z-index: 200;
  margin:auto;
  opacity: 0;
  
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 3px); }
    to   { transform: translate(0, -0px); }    
}
@keyframes fade {
  0%,100% { opacity: 0.3 }
  50% { opacity: 1 }
}
@keyframes fade2 {
  0%,100% { opacity: 0.7 }
  50% { opacity: 1 }
}

@media only screen and (max-width:678px)
{
  #text
  {
    font-size: 7vw;
    top:4vw;
  }
  #timer
  {
    font-size: 5vw;
    padding: 8% 0%;
  }
  #stuff
  {
    transform: scale(2);
  }
}
